@charset "UTF-8";

body{
	margin: 0px;
	background-color: #E2F5FF;
}

/* NAVBAR */

#logo{
	float: left;
	margin: 1em 2em 1em 2em;
	height: 4em;
}

#navbar{
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#logotitle{
	width: 30%;
	text-align: left;
}

#pagelinks{
	width: 70%;
}

#pagelinks ul{
	display: flex;
	justify-content: space-around;
}

#pagelinks ul li{
	padding: 0.4em;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	list-style-type: none;
	cursor: pointer;
}

#navbar h1{
	color: #222222;
	padding-top: 0.4em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
	font-weight: 300;
	letter-spacing: 0.1em;
}

#navbar a{
	text-decoration: none;
}

#navbar a:link{
	color: #222222;
}

#navbar a:visited{
	color: #222222;
}

#navbar a:hover{
	color: #86D6FF;
}

#pagelinks ul li:nth-of-type(4){
	text-decoration: underline;
}

@media screen and (max-width: 1200px){
	
	#logo{
		margin: 1em 1em 0em 1em;
		float: none;
		text-align: center;
	}
	
	#logotitle{
		width: 100%;
		text-align: center;
	}
	
	#navbar h1{
		margin-top: 0em;
		padding-top: 0em;
	}
	
	#pagelinks{
		width: 100%;
		margin: -1em 1em 1em 1em
	}
	
}

/* Sub Navigation */

#subnav{
	text-align: center;
	padding: 1em 0em 1em 0em;
	background-color: #3F9AF7;
}

#subnav a{
	text-decoration: none;
	padding: 0.2em 1em 0.2em 1em;
	margin: 0em 1em 0em 1em;
	border-radius: 0.6em;
	color: #3F9AF7;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 700;
	background-color: #FFFFFF;
}

/* Page Specific */

.resumeblock1{
	margin: 3em 8em 1em 8em;
}

.resumeblock1 a{
	color: #222222;
	text-decoration: none;
}

.resumeblock1 a:active{
	color: #222222;
}

.resumeblock1 a:visited{
	color: #222222;
}

.resumeblock1 a:hover{
	color:  #86D6FF;
}

.resumeblock1 h2{
	text-align: center;
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	font-weight: 600;
}

.resumeblock1 h3{
	text-align: center;
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	font-weight: 600;
}

.resumeblock1 p{
	text-align: center;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

.resumeblock1 ul{
	margin-left: 40%;
	text-align: left;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-weight: 400;
}

.resumeblock2{
	margin: 3em 10em 1em 10em;
}

.resumeblock2 h1{
	margin: 0.2em 0em 0em 0em;
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	font-weight: 600;
}

.resumeblock2 h2{
	margin: 0.2em 0em 0em 0em;
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
	font-weight: 600;
}

.resumeblock2 h3{
	margin: 0.2em 0em 0em 0em;
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-size: 1em;
	font-weight: 600;
}

.resumeblock2 p{
	margin: 0.2em 0em 0em 0em;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}
