@charset "UTF-8";

body{
	margin: 0px;
	background-color: #B3DAFF;
}

/* NAVBAR */

#logo{
	float: left;
	margin: 0em 2em 0em 2em;
	height: 4em;
}

#navbar{
	margin-bottom: 0em;
	padding: 1em 0.2em 0.2em 0.2em;
	background-color: #FEFEFE;
	width: 100%;
}

#navbar h1{
	display: block;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: 300;
	letter-spacing: 0.1em;
}

#pagelinks{
	display: block;
	float: right;
	text-align: right;
	margin-top: -3.6em;
	margin-bottom: 1.2em;
	width: 55%;
}

#pagelinks a{
	display: inline-block;
	margin-right: 6%;
	margin-bottom: 0.2em;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

#pagelinks a:first-of-type{
	text-decoration: underline;
}

#navbar a{
	text-decoration: none;
}

#navbar a:link{
	color: #222222;
}

#navbar a:visited{
	color: #222222;
}

#navbar a:hover{
	color: #86D6FF;
}

/* Sub Navigation */

#subnav{
	text-align: center;
	padding: 1em 0em 1em 0em;
	background-color: #3F9AF7;
}

#subnav a{
	text-decoration: none;
	padding: 0.2em 1em 0.2em 1em;
	margin: 0em 1em 0em 1em;
	border-radius: 0.6em;
	color: #3F9AF7;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 700;
	background-color: #FFFFFF;
}

/* Page Specific */

.resumeblock1{
	margin: 3em 8em 1em 8em;
}

.resumeblock1 h2{
	text-align: center;
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	font-weight: 600;
}

.resumeblock1 h3{
	text-align: center;
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	font-weight: 600;
}

.resumeblock1 p{
	text-align: center;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

.resumeblock1 ul{
	margin-left: 40%;
	text-align: left;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-weight: 400;
}

.resumeblock2{
	margin: 3em 10em 1em 10em;
}

.resumeblock2 h1{
	margin: 0.2em 0em 0em 0em;
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 1.4em;
	font-weight: 600;
}

.resumeblock2 h2{
	margin: 0.2em 0em 0em 0em;
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-size: 1.1em;
	font-weight: 600;
}

.resumeblock2 h3{
	margin: 0.2em 0em 0em 0em;
	color: #222222;
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-size: 1em;
	font-weight: 600;
}

.resumeblock2 p{
	margin: 0.2em 0em 0em 0em;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}
