@charset "UTF-8";

body{
	margin: 0px;
	background-color: #EEEEEE;
}

/* NAVBAR */

#logo{
	float: left;
	margin: 0em 2em 0em 2em;
	height: 4em;
}

#navbar{
	margin-bottom: 3em;
	padding: 1em 0.2em 0.2em 0.2em;
	background-color: #FEFEFE;
	width: 100%;
}

#navbar h1{
	display: block;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: 300;
	letter-spacing: 0.1em;
}

#pagelinks{
	display: block;
	float: right;
	text-align: right;
	margin-top: -3.6em;
	margin-bottom: 1.2em;
	width: 55%;
}

#pagelinks a{
	display: inline-block;
	margin-right: 6%;
	margin-bottom: 0.2em;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

#navbar a{
	text-decoration: none;
}

#navbar a:link{
	color: #222222;
}

#navbar a:visited{
	color: #222222;
}

#navbar a:hover{
	color: #86D6FF;
}

/* Socials */

#socials a{
	margin-left: 1.4em;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: 2em;
	height: 2em;
	border-radius: 100%;
}

#socials a:first-of-type{
	margin-left: 0em;
}

#socials a:hover{	
	opacity: 70%;
}

.icons img{
	width: 2em;
}

/* Page Specific */

#me1{
	float: right;
	margin: 0em 3em 4em 3em;
	height: 400px;
}

.homeblock1{
	margin: 3em 0em 1em 3em;
}

.homeblock1 h2{
	color: #FF9310;
	font-family: 'Lato', sans-serif;
	font-size: 1.6em;
	font-weight: 700;
}

.homeblock1 p{
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
}

.homeblock2{
	margin: 2em 0em 1em 3em;
}

.homeblock2 h3{
	color: #3F9AF7;
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	font-weight: 900;
}

.homeblock2 p{
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

.homeblock2 a{
	color: #3F9AF7;
}

.homeblock2 a:active{
	color: #3F9AF7;
}

.homeblock2 a:visited{
	color: #3F9AF7;
}
