@charset "UTF-8";

body{
	margin: 0px;
}

#logo{
	float: left;
	margin: 2em;
	height: 4em;
}

#me1{
	float: right;
	margin-right: 4em;
	height: 500px;
}

#title{
	padding: 0.2em;
	background-color: #FEFEFE;
}

#title h1{
	color: #222222;
	padding-top: 0.8em;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	font-weight: 300;
}

h2{
	color: #222222;
	padding-top: 0.8em;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: 600;
}

p{
	color: #222222;
	padding-top: 0.8em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
}











