@charset "UTF-8";

body{
	margin: 0px;
	background-color: #EEEEEE;
}

/* NAVBAR */

#logo{
	float: left;
	margin: 1em 2em 1em 2em;
	height: 4em;
}

#navbar{
	background-color: #FFFFFF;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

#logotitle{
	width: 30%;
	text-align: left;
}

#pagelinks{
	width: 70%;
}

#pagelinks ul{
	display: flex;
	justify-content: space-around;
}

#pagelinks ul li{
	padding: 0.4em;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
	list-style-type: none;
	cursor: pointer;
}

#navbar h1{
	color: #222222;
	padding-top: 0.4em;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6em;
	font-weight: 300;
	letter-spacing: 0.1em;
}

#navbar a{
	text-decoration: none;
}

#navbar a:link{
	color: #222222;
}

#navbar a:visited{
	color: #222222;
}

#navbar a:hover{
	color: #86D6FF;
}

#pagelinks ul li:nth-of-type(3){
	text-decoration: underline;
}

@media screen and (max-width: 1200px){
	
	#logo{
		margin: 1em 1em 0em 1em;
		float: none;
		text-align: center;
	}
	
	#logotitle{
		width: 100%;
		text-align: center;
	}
	
	#navbar h1{
		margin-top: 0em;
		padding-top: 0em;
	}
	
	#pagelinks{
		width: 100%;
		margin: -1em 1em 1em 1em
	}
	
}

/* Page Specific */