@charset "UTF-8";

body{
	margin: 0px;
	background-color: #EEEEEE;
}

/* NAVBAR */

#logo{
	float: left;
	margin: 0em 2em 0em 2em;
	height: 4em;
}

#navbar{
	padding: 1em 0.2em 0.2em 0.2em;
	background-color: #FEFEFE;
	width: 100%;
}

#navbar h1{
	display: block;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	font-weight: 300;
	letter-spacing: 0.1em;
}

#pagelinks{
	display: block;
	text-align: right;
	margin-top: -3.2em;
	margin-bottom: 1.2em;
}

#pagelinks a{
	margin-right: 5%;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

#pagelinks a:last-of-type{
	margin-right: 8%;
}

#navbar a{
	text-decoration: none;
}

#navbar a:link{
	color: #222222;
}

#navbar a:visited{
	color: #222222;
}

#navbar a:hover{
	color: #86D6FF;
}
